@*@{
        Layout = _Layout;
    }*@

@*//Teste GIT*@

@model MaquinaDeTrocos.Models.novasMoedas

@* Clone Master *@


<title>Abastecer</title>


@using (Html.BeginForm("addMoedas", "MaquinaDeTroco", FormMethod.Post, new { id = "formularioTeste" }))
{

    <div class="row col-md-12">
        @for (int i = 0; i < Model.moedasList.Count; i++)
        {

            <div class="card">
                <img class="card-img-top" src="@Url.Content(@Model.moedasList[i].srcIgm)" />
                @Html.EditorFor( x => x.moedasList[i].quantidade, 
               new { htmlAttributes = new { @class = "inp card-body " + Model.moedasList[i].valor, @id = Model.moedasList[i].nome, @placeholder = "0"} })
                @*<input id="@Model.moedas[i].nome" class="inp card-body" type="number" placeholder="0" name="@Model.moedas[i].nome" />*@
            </div>
            <span style="display:none;" id="inp-tamanho">@Model.moedasList.Count</span>
        }
        <div class="row justify-content-center">
            <button type="submit" id="botao" class="col-lg-offset-5 col-lg-2">Adicionar Moedas</button>
        </div>
    </div>
    

    
}

<h1>@ViewBag.message</h1>




@Scripts.Render("~/bundles/jquery")

<script type="text/javascript">
/*const { post } = require("jquery");*/




    $("#formularioTeste").on("submit", function (e) {
        e.preventDefault();

        let valorMoedas = new Array();

        valorMoedas.push($("#umCent"))
        valorMoedas.push($("#cincoCent"));
        valorMoedas.push($("#dezCent"));
        valorMoedas.push($("#vinteCincoCent"));
        valorMoedas.push($("#cinquentaCent"));
        valorMoedas.push($("#umReal"));

        for (let i = 0; i < valorMoedas.length; i++) {


            if (valorMoedas[i].val() < 0) {
                if ($(valorMoedas[i]).attr("name").includes("Cent")) {

                    window.alert("Quantidade de moedas de " + $(valorMoedas[i]).attr("name").split("Cent")[0] + " centavos negativa");
                }
                else {
                    window.alert("Quantidade de moedas de " + $(valorMoedas[i]).attr("name").split("Real")[0] + " real negativa");
                }
                break;
            }

            else if (valorMoedas[i] == 0) {
                window.alert("Valor inválido, coloque uma ou mais moedas");
                break;
            }
        }


        $.ajax({
            url: "MaquinaDeTroco/addMoedas",
            data: $(this).serialize(),
            dataType: "json",
            method: "POST",
            success: function (resp) {
                console.log("Deu certo!");

                for (let i = 0; i < resp.valores.length; i++){
                    $("#" + resp.valores[i].nome).text(resp.valores[i].quantidade);
                }

            },
            error: function (resp) {
                console.log("Deu errado :(")
            }
        });

    });

    


</script>
