@*@{
        Layout = null;
    }*@

@model MaquinaDeTrocos.Models.novasMoedas


<title>Sangria</title>

@using (Html.BeginForm("removeMoedas", "MaquinaDeTroco", FormMethod.Post, new { id = "formularioSangria" }))
{

    <h1 style="margin:auto">Selecione a quantidade de moedas a serem retiradas</h1>


    <div class="col-md-12">

        @for (int i = 0; i < Model.moedasList.Count; i++)
        {
            <div class="card col-md-2">
                <img class="card-img-top" src="@Url.Content(Model.moedasList[i].srcIgm)" />
                @*<div class="card-body corpo-do-cartao">@Model.moedasList[i].quantidade</div>*@
                @Html.EditorFor(x => x.moedasList[i].quantidade,
           new { htmlAttributes = new { @class = "inp card-body " + Model.moedasList[i].valor, @id = Model.moedasList[i].nome, @placeholder = "0" } })
            </div>
            <span style="display:none;" id="inp-tamanho">@Model.moedasList.Count</span>
        }
        <button type="submit" id="botao-sangria" class="col-lg-offset-5 col-lg-2">Retirar Moedas</button>

    </div>
}

<div>
    <h1 id="h1-texto" style="display: none;">Estado atual da máquina</h1>
    @for (int i = 0; i < Model.moedasList.Count; i++)
    {
        <div id="@Model.moedasList[i].valor"></div>
    }


</div>


@Scripts.Render("~/bundles/jquery")

<script type="text/javascript">

    $("#formularioSangria").on("submit", function (e) {

        e.preventDefault();

        $.ajax({
            url: $(this).attr('action'),
            data: $(this).serialize(),
            dataType: "json",
            method: "POST",
            success: function (resp) {
                console.log("Deu certo!");
                $("#h1-texto").css("display", "block")

                for (let i = 0; i < resp.valores.length; i++) {
                    $("#" + resp.valores[i].nome).val(0);
                    $("#" + resp.valores[i].valor).text(resp.valores[i].quantidade + " moedas de " + resp.valores[i].valor + " centavos");

                }

            },
            error: function (resp) {
                console.log("Deu errado :(")
            }
        });
    })

</script>


