@*@{
    Layout = null;
}*@

@model MaquinaDeTrocos.Models.MaquinadeTrocoModel


    <title>Sangria</title>

@using (Html.BeginForm("Sangria", "MaquinaDeTroco", FormMethod.Post, new { id = "formularioSangria" }))
            {

            

    <div class="col-md-12">
        
        @for (int i = 0; i < Model.moedas.Count; i++)
            {
                <div class="card col-md-2">
                    <img class="card-img-top" src="@Url.Content(Model.moedas[i].srcIgm)" />
                    <div class="card-body corpo-do-cartao">@Model.moedas[i].quantidade</div>
                    <input id="'inp' + '@Model.moedas[i].nome'" class="card-footer" type="number" placeholder="0" name="@Model.moedas[i].nome" />
                </div>
                <span style="display:none;" id="inp-tamanho">@Model.moedas.Count</span>
            }
        <button type="submit" id="botao-sangria" class="col-lg-offset-5 col-lg-2">Retirar Moedas</button>

    </div>
}

@Scripts.Render("~/bundles/jquery")

<script type="text/javascript">

    $("#formularioSangria").on("submit", function (e) {

        let valorMoedas = new Array();

        for (int i = 0; i < @Model)
    })


        




</script>


